version: 2.1

orbs:
  coveralls: coveralls/coveralls@2.2.1

jobs:
  test:
    machine: true
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Integration Tests
          command: docker-compose -f docker-compose.yml -f docker-compose.test.yml up --build --exit-code-from deno-rest --abort-on-container-exit
      - coveralls/upload
workflows:
  test:
    jobs:
      - test
